table{

	padding: 10px;
	border: 5px solid gray;
	border-collapse: collapse;
}

h1{
	font:Times New Roman;
	font:19px;
}

td{
	padding:10px;
	font:Times New Roman;
	font:19px;
}

body{
	font:Times New Roman;
	font:12px;
	background-color:white
}

button {
  color:black;
  font: Times
  border:2px solid;
  border-color: white;
}